HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
Receiver/src/main/resources/static/
Receiver/src/main/resources/templates/
Receiver/target/generated-sources/
Receiver/target/generated-test-sources/
Sender/src/main/resources/static/
Sender/src/main/resources/templates/
Sender/target/generated-sources/
Sender/target/generated-test-sources/
